

<div class="container">

  <div class="banner">
  </div>
  <div class="logoD">
      <img src="../../../../assets/img/LOGO FLAL MT BLANCO-2web.webp" alt="logo" class="logo">
  </div>
  <div class="izq">
      <span class="user"  *ngIf="mostrar">
          usuario: {{ userName }}
          <a href="#" (click)="cerrarSesion()">Cerrar Sesion<i class="fa-solid fa-right-from-bracket"></i></a>
      </span>
      <a [routerLink]="['/registrar']">Registrarse</a>

      <button (click)="goToInicioSession()">Log in</button>

      <!-- <a [routerLink]="['/login']">Inicia Sesion <i class="fa-solid fa-right-to-bracket"></i></a> -->
  </div>

    <!-- <div class="second">
        <a [routerLink]="['index']">Inicio</a>
          <a [routerLink]="['/dashboard/foros']">Foros</a>
    </div>
     -->
    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
    

</div>